<h1><%= user.email %></h1>

<% unless user == current_user %>
<div class="section">
  <% if following.include?(user) %>
    <%= link_to "Unfollow" %>
  <% else %>
    <%= link_to "Follow", user_relationships_path(user), method: :post %>
  <% end %>
</div>
<% end %>

<div class="section">
  Joined
  <%= time_ago_in_words(user.created_at) %>
  ago
</div>

<h3><%= posts.length %> Posts</h3>
<% posts.each do |post| %>
  <div class="section">
    <%= render 'posts/post', post: post %>
  </div>
<% end %>
