<h1><%= plural_table_name.titleize %></h1>

<div class="section">
  <%%= link_to 'Create <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path %>
</div>

<%% <%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <div class="section">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <div>
      <%= attribute.human_name %>:
      <%%= <%= singular_table_name %>.<%= attribute.name %> %>
    </div>
    
<% end -%>
    <div>
      <%%= link_to 'Show', <%= singular_table_name %> %>
      | <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
      | <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete,
                     data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<%% end %>
